<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".HandyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/newhandylogo"
        android:label="Handy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandyProject"
        tools:targetApi="31">
        <activity
            android:name="com.example.handyproject.ui.customer.CustomerHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.HandymanProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.BookingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.MessagesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.customer.ChatThreadActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.handyman.HandymanHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.auth.HandymanRegistration"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.auth.CustomerRegistration"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.auth.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.example.handyproject.ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.handyproject.ui.auth.MainActivity"
            android:exported="true" />

        <service
            android:name="com.example.handyproject.service.HandyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="app_channel" />

    </application>

</manifest>